<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='css/app.js'></link>
    </head>
    <body>
        <div id='example'></div>
        <script src='js/app.js'></script>  
    </body>
</html>
